section#home {
   flex: 1 1 auto;
   width: 1em;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3em;
}

section#home h1 {
   font-size: 4em;
   margin: 0.1em 0;
   letter-spacing: 0.01em;
}

section#home p {
   width: 35em;
   line-height: 1.7em;
}